.login-modal {
  background-color: #d1c4e9;
}
.login-modal-header {
  background-color: #512da8;
  color: #ddd;
}
.reserve-tble-modal {
  background-color: #d1c4e9;
}
.reserve-tble-modal-header {
  background-color: #512da8;
  color: #ddd;
}